<form id="add_team">
  <h3> Create Team:</h3>
  <p id="errors"> </p>
    <label for="team_name"> Team Name </label>
    <input type="text" name="team_name" id="team_name"><br>

    <input type="button" onclick="submit_form(current_id);" value="Create Team"> </input>
</form>
