<div>
  <h1> All Teams </h1>
  <ol id="teams_olist">
  </ol>
</div>

<div>
  <div id="individual_team">
  </div>
  <ol id="teams_list"> </ol>
  <button id="next_button"> Next </button>
</div> <br> <br>
