<div class="table_container">
  <h1> All Teams </h1>
  <table id="teams_table">
    <tr>
      <th> No. </th>
      <th> Name </th>
      <th> Owner </th>
      <th> Points </th>
    </tr>
    <tbody>

    </tbody>
  </table>
</div>

<!-- bottom half of page (team list) -->
<div class="table_container">
  <div id="individual_team">
  </div>
  <ol id="teams_list"> </ol>
  <button id="next_button"> Next </button>
</div>
