<script>
  let current_id = <%= params[:id] %> ;

  $(document).ready(function(){
    showTeam(current_id);
  $("#next_button").on("click", (e) => {
    e.preventDefault();
    $.ajax({
     url: '/next_team/'+current_id+'.json',
     method: 'GET',
     success: function(response){
       console.log("this is the response: ", response);
       current_id = response;
       showTeam(current_id);
     }
    });
  });
});
</script>

<div>
  <div id="individual_team">
  </div>
  <ol id="teams_olist"> </ol>
  <button id="next_button"> Next </button>
</div> <br> <br>

<form id="add_player">
  <h3> Add Player:</h3>
  <label for="player_name"> Player Name </label>
  <input type="text" name="player_name" id="player_name"><br>
  <label for="player_nba_team"> NBA Team </label>
  <input type="text" name="player_nba_team" id="player_nba_team"><br>
  <label for="player_position"> Player Position </label>
  <input type="text" name="player_position" id="player_position"><br>
  <input type="button" onclick="submit_form(current_id);" value="Add Player"> </input>
</form>
