<div class="comments_title">
  <h2> New Comment </h2>
</div>

<%= render 'form' %>

<div id="commentResult">
  <h3> Comments Preview</h3>
  <table id="comment_table">
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
    <tr>
      <td id="commentTitle"></td>
      <td id="commentBody"></td>
    </tr>
  </table>
  <p> <%= link_to "See Comment Board", comments_path, {:class=>"comment_table_button"} %> </p>
</div>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

      var values = $(this).serialize();

      var commenting = $.post('/comments', values);

      commenting.done(function(data) {
        var comment = data;
        console.log("this is the data", data);
        $("#commentTitle").text(comment["title"]);
        $("#commentBody").text(comment["description"]);
      });
      commenting.error(function(data) {
        console.log("this is the data when errored out", data);
      });
    });
  });
</script>
