function showComment (id) {
  $.ajax({
   url: '/comments/'+id+'.json',
   method: 'GET',
   success: function(response){
     console.log("This is the comment Response", response);
     let comment_title = $("<h3>" + response.title + "</h3>");
     let comment_body = $("<p>" + response.description + "</p>");
     $(".commentTitle").empty();
     $(".commentTitle").append(comment_title);
     $(".commentBody").empty();
     $(".commentBody").append(comment_body);
   }
  });
}
