/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* #new_user {
   font-size: 16px;
   display: inline-block;
 } */

/* creating a new team  */

 .field {
   margin-top: 1%;
   margin-bottom: 1%;
 }


 button {
  font-size: 22px;
  padding: 4px 8px;
  display: block;
  margin: 20px auto 0;
  color: gray;
}

 #title{
 font-size: 22px;
 font-family: Arial, Helvetica, sans-serif;;
 text-align: left;
 font-style: italic;
 text-transform: uppercase;
 text-shadow: #2c2c2c 1px 1px 2px;
}

 #errors{
   color: red;
 }

 /* body */

 body {
   background-color: #F0F8FF;
   margin: 0;
   padding: 0;
 }

  /* sign in body */

  .users.new {
    margin: 0;
    padding: 0;
    background: url(kobe_wade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
  }

  .loginbox {
    width: 30%;
    height: 75%;
    background: #000;
    color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 3%;
    padding: 70px 30px;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }

  #sign_up_h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }

  .loginbox label{
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  .loginbox input{
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }

  .loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }

  .loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }

  .loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 5px;
    color: darkgrey;
  }

  .loginbox a:hover{
    color: #ffc107;
  }

 /* Nav Bar CSS  */

 .container_1 {
   width: 80%;
   margin: 0 auto;
 }

 .main_header {
   background: #3CB371;
   border-radius: 1px;
 }

 .main_header::after {
   content: ' ';
   display: table;
   clear: both;
 }

 .logo {
   float: left;
   padding: 5px 0;
   width: 8%;
   height: 8%;
   display: inline-block;
 }

 nav {
   float: right;
 }

 nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
 }

 nav li {
   display: inline-block;
   margin-left: 70px;
   margin-bottom: 10px;
   padding-top: 23px;
   position: relative;
   float: right;
 }

 nav ul > li > a {
   color: #000080
   text-decoration: none;
   text-transform: uppercase;
   font-size: 14px;
 }

 nav ul > li > a:hover {
   color: #000;
 }

 nav ul > li > a::before {
   content: '';
   display: block;
   height: 3px;
   width: 0%;
   background-color: #000080;
   position: absolute;
   top: 0;
   transition: all ease-in-out 250ms;
 }

 nav ul > li > a:hover::before {
   width: 100%;
 }

 /* Table CSS */


 table {
   margin-top: 2%;
  margin-left: 10px;
  width: 60%;
  /* border-spacing: 5px;  */
}

th {
  text-align: left;
  background: #7FFFD4;
}

table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  transition: all ease-in-out 250ms;
}

td > a {
  text-decoration: none;
  color: black;
}

td > a:hover {
  transition: all ease-in-out 250ms;
  text-decoration: underline blue;
  color: black;
}

td:hover {
  background-color: #B0C4DE;
}

tr:nth-child(even) {
  background-color: #FFFAF0;
}

tr:nth-child(odd) {
  background-color: #D3D3D3;
}
