// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#comment_index_table{
  width: 50%;
  table-layout:fixed;
}

/* Comment Show Table  */

#next_comment_button{
  text-decoration: none;
  border: none;
  outline: none;
  height: 50px;
  width: 50%;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  font-size: 12px;
  border-radius: 20px;
}

.comments_show_div{
  margin-top: 3%;
  margin-left: 10%;
  width: 100%;
  position: absolute;
}

.comment_show_table{
  width: 80%;
  table-layout:fixed;
}

/* .comment_show_table > td {
  width: ;
} */
